/* Search form */
.widget_plugin_advanced_search .options_select { margin-bottom:3px }
.widget_plugin_advanced_search .radio_select { margin:3px 0 15px 0 }
.widget_plugin_advanced_search fieldset { border:none; margin:3px 0 0 0; padding:0 }
.widget_plugin_advanced_search fieldset label { font-weight:bold }
.widget_plugin_advanced_search fieldset select { margin:0 !important; padding:0 !important }

/* Results page */
.widget_plugin_advanced_search li { font-size: 12px !important; font-family: arial, sans-serif }
.widget_plugin_advanced_search ul { margin:0 0 0 20px; padding:0 }
.widget_plugin_advanced_search ul li { margin:1em 0; list-style:none }
.widget_plugin_advanced_search .TiTlE { padding:0; margin:0; color: #0000cc !important; display:inline; font-weight:normal }
.widget_plugin_advanced_search .TiTlE a:link { color: #0000cc !important; text-decoration:underline !important }
.widget_plugin_advanced_search .TiTlE a:visited { color: #551a8b !important; text-decoration:underline !important }
.widget_plugin_advanced_search .CoNtAiNeR { max-width: 600px; }
.widget_plugin_advanced_search cite { color: green; font-style: normal }
.widget_plugin_advanced_search .BlUeBaR { margin:20px 10px; padding:5px 20px; border-top: #6b90da 1px solid; background-color: #ebeff9 }

/* Highlighted words */
.highlighted_words { background-color:#FCEC94; font-weight:bold }

/* Live search pop-up */
.search_popup_top { }
.search_popup_bottom { height:30px }
.search_popup_types { margin-bottom:20px; border-bottom:1px solid #ddd }
.search_popup_all { margin: 5px 0 0 -20px; padding-top:10px; text-align:center }
.search_results_no { font-size:16px; font-weight:bold }

#search_popup_box { position:absolute; width:240px; margin:0 -40px -40px -40px; padding: 0 0 0 15px; z-index:1001 }
#search_popup_results { padding:50px 50px 20px 50px }
#search_popup_results ol { margin:0 0 0 10px; padding: 0 0 0 10px }
#search_popup_results .search_popup_item { margin:0 0 10px 0; padding: 0 0 10px 0; border-bottom:1px solid #ddd }
